.registrForm {
    display: inline-block;
    margin: 10px;
    border: 2px solid yellow;
    border-radius: 10px;
}

.loginForm {
    display: inline-block;
    margin: 10px;
    border: 2px solid green;
    border-radius: 10px;
}

.formHeader {
    font-size: large;
    font-weight: 600;
}

.inputContainer {
    width: max-content;
    display: flex;
    flex-flow: row nowrap;
}

.registrFormField {
    flex-basis: 80%;
    margin: 5px;
    padding: 5px;
    border: 1px solid blanchedalmond;
    border-radius: 5px;
    background-color: lightgrey;
    cursor: pointer;
    overflow: visible;
}

.registrFormField:focus {
    background-color: yellow;
}

.registrFormField:hover {
    background-color: lightgreen;
}

.registrFormPolicyAgree {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid blanchedalmond;
    border-radius: 5px;
    background-color: lightgrey;
    cursor: pointer;
}

.registrFormSubmit {
    padding: 5px;
}

.formSubmitButton {
    width: 50%;
    background-color: yellow;
    border: 1px solid black;
    margin-left: 50%;
    border-radius: 5px;
    padding: 5px;
}

.showPassword {
    flex-basis: 10%;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    background-color: yellow;
    border: 1px black solid;
    border-radius: 5px;
}
