<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="module" defer src="window_handlers.js"></script>
    <script type="module" src="regForm\scripts\formComponent.js"></script>
    <script type="module" src="navigation/scripts/mvc_navigation.js" defer></script>
    <script type="module" src="regForm\scripts\mvc_regForm.js" defer></script>
    <script type="module" src="header\scripts\mvc_header.js" defer></script>

    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script type="text/babel" src="header\scripts\headerComponent.jsx" defer></script>
    <script type="text/babel" src="textsViewingPage\commentComponent.jsx" defer></script>


    <link type="text/css" rel="stylesheet" href="styles\regPageStyles.css">
    <link type="text/css" rel="stylesheet" href="regForm\styles\registrFormStyles.css">
    <link type="text/css" rel="stylesheet" href="navigation\styles\navigationStyles.css">
    <link type="text/css" rel="stylesheet" href="header\styles\content_style.css">
    <link type="text/css" rel="stylesheet" href="textsViewingPage\commentStyles.css">
</head>
<body>
    <div class="mainPageContainer">
        <header class="regPageHeader">
            <div class="headerComponent"></div>
            <div class="actionMenu">
                <button class="headerButton logOutButton" hidden>Log Out</button>
                <button class="headerButton toRegisterButton">Register</button>
                <button class="headerButton toLoginButton">Enter</button>
            </div>
        </header>
        <div class="main">
            <div class="categoriesNavContainer">
                <nav class="categoriesNav">
                    {{#each categories}}
                        <div class="categoryContainer">
                            <div class="categoryName">{{this.categoryName}}</div>
                            {{#each this.textsNames}}
                                <div class="textsNames" hidden>{{this}}</div>
                            {{/each}}
                        </div>
                    {{/each}}
                </nav>
            </div>
            <div class="textAndFormContainer">
                <div class="textsContainer">
                    <div>This text about...</div>
                </div>
                <div class="registrFormContainer"> 
                    <form is="reg-form"></form>
                </div>
            </div>
            <div class="loginFormContainer" hidden>
                <form is="login-form"></form>
            </div>
        </div>
        <footer class="regPageFooter">Footer</footer>
    </div>
</body>
</html>