.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.categoriesNavContainer {
    flex-basis: 40%;
    cursor: pointer;
}

.navOpenButton {
    display: inline;
    position: fixed;
    left: 70%;
    top: 50%;
}

.textAndFormContainer {
    flex-basis: 50%;
    padding: 10px;
}

.textsContainer {
    border: burlywood 2px solid;
    padding: 5px;
}


.regPageFooter {
    background-color: grey;
    text-align: center;
}
